html {
  font-size: 1rem;
}
.jud{
    font-family: sans-serif;
    text-align: center;
}
.jud-awal{
    text-align: center;
    margin-top: 2em;
    color: white;
}
.body-color{
    background-color: aquamarine;
}
.aliceblue{
    color: aliceblue;
}
.bg-login{
    background-image: url('background/bg-login.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
}
.login-text{
    text-align: center;
}
.dash{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border-radius: 5%;
    width: max-content;
    height: max-content;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.dashtop{
    margin: 0 auto;
    padding: 1rem;
    border-radius: 1rem 1rem 0 0;
    width: auto;
    height: auto;
    background-color: rgb(122, 122, 122);
    font-family: Roboto;
    font-size: x-large;
    font-weight: 100px;
    text-align: center;
    color:aliceblue;
}
.dashbot{
    padding: 3rem;
}
.email-input{
    margin-top: 2em;
}

.margin-top-sm{
    margin-top: 0.5em;
}
.margin-top-md{
    margin-top: 2em;
}
:root {
  --main-bg-color: #65a6b2;
  --main-text-color: #009d63;
  --second-text-color: #bbbec5;
  --second-bg-color: #c1efde;
}

.primary-text {
  color: var(--main-text-color);
}

.second-text {
  color: var(--second-text-color);
}

.primary-bg {
  background-color: var(--main-bg-color);
}

.secondary-bg {
  background-color: var(--second-bg-color);
}

.rounded-full {
  border-radius: 100%;
}

#wrapper {
  overflow-x: hidden;
  background-color: #2ec4b6;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin 0.25s ease-out;
  -moz-transition: margin 0.25s ease-out;
  -o-transition: margin 0.25s ease-out;
  transition: margin 0.25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

#menu-toggle {
  cursor: pointer;
}

.list-group-item {
  border: none;
  padding: 20px 30px;
}

.list-group-item.active {
  background-color: transparent;
  color: var(--main-text-color);
  font-weight: bold;
  border: none;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }

  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}